html body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    width:100%;
}

.titulo{
    text-align: center;
    font-size: 3em;
    margin-bottom: 0px;
}

.navbar ul li{
    display: inline;
    margin-right: 10px;
}

.enlace_navbar{
    text-decoration: none;
    color: lightgray;
}

.enlace_navbar:hover{
    text-decoration: underline;
}

.seleccionado{
    text-decoration: none;
    color: gray;
}

.ultimo:hover{
    text-decoration: underline;
}

#marco_imagenes{
    padding-left: 5%;
    padding-right: 5%;
}

.cont_imagen{
    width: calc(25% - 23px);
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.imagen{
    width: 100%;
    height: 400px;
}

.pie_imagen{
    margin-top:5px;
}

.bold{
    font-weight: bold;
}

.red{
    color:red;
}

.aside_derecho{
    position: absolute;
    right: 10px;
    top: 50px;
}

.aside_izquierdo{
    position: absolute;
    left: 10px;
    top: 50px;
}

#mujer{
    margin-right: 15px;
    font-weight: bold;
}

#hombre{
    color:grey;
}

.position_center{
    text-align: center;
}

.position_left{
    text-align: left;
}

.icon{
    width:20px;
    height:20px;
    margin-left: 20px;
}

#newsletter, #contacto{
    padding: 40px 0px;
    text-align: center;
    border-top: 1px solid lightgray;
}

#texto_subscribete_newsleter{
    font-weight: unset;
    margin-top:-10px;
}

#input_email{
    margin-top:20px;
    width: 50%;
}